.overlay {
  position: fixed;
  inset: 0px;
  background-color: rgba(0, 0, 0, 0.371);
  filter: brightness(0.65);
  z-index: 5;
  cursor: pointer;
}

.modal {
  display: flex;
  align-items: center;
  flex-direction: column;
  inset: 15%;
  position: fixed;
  left: 30%;
  z-index: 10;
  width: 40%;
  background-color: var(--background);
  border: 2px solid var(--primary);
  border-radius: 10px;
}
.modal__close {
  padding: 1em;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.modal__close__button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: white;
  border-radius: 5px;
  width: 2em;
  height: 2em;
  background-color: var(--primary);
}
.modal__close__button svg {
  width: 1.3em;
  height: 1.3em;
}
.modal__carousel {
  padding: 1em 3em 1em 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal__carousel__section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.modal__carousel__section__arrow-left {
  color: var(--primary);
  font-size: 2em;
  cursor: pointer;
}
.modal__carousel__section__arrow-left:hover {
  color: var(--accent);
}
.modal__carousel__section__img {
  object-fit: cover;
  width: 90%;
  height: 100%;
  border-radius: 10px;
  border: 1px solid var(--primary);
}
.modal__carousel__section__arrow-right {
  color: var(--primary);
  font-size: 2em;
  cursor: pointer;
}
.modal__carousel__section__arrow-right:hover {
  color: var(--accent);
}
.modal__carousel__dots {
  margin-top: -5%;
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}
.modal__carousel__dots__dot {
  width: 1em;
  height: 1em;
  border: 3px solid var(--primary);
  border-radius: 100%;
}
.modal__carousel__dots__dot.selected {
  background-color: var(--primary);
}
.modal__tags {
  padding: 3% 3em 0em 3em;
  display: flex;
  flex-direction: row;
  gap: 1em;
}
.modal__tags li {
  font-weight: 600;
  list-style: none;
  color: var(--primary);
}
.modal__description {
  color: var(--text);
  font-size: 1.1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0em 3em 1em 3em;
}