.project {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  align-content: center;
  padding: 0em 5em 5em 5em;
  gap: 2em;
  &__filter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5%;
    &__item {
      padding: 1em;
      border: 1px solid;
    }
  }

  &__list {
    display: flex;
    gap: 1em;
    justify-content: center;
    padding: 2em;
    border: 1px solid;
    &__card {
      width: 30%;
      min-height: 150px;
      border: 1px solid;
    }
  }
}
