.project {
  width: 100%;
  padding: 3em 5em 3em 5em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
  overflow: hidden;
  &__section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2em;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    &__plus {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      gap: 2em;
      justify-content: center;
      align-items: center;
    }
  }

  &__plus {
    &__text {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 0.5em;
      cursor: pointer;
      &:hover {
        & p,
        svg {
          color: var(--accent);
        }
      }
      & p {
        font-size: 1.4vw;
        color: var(--primary);
      }
      & svg {
        font-size: 1.4vw;
        color: var(--primary);
      }
    }
  }
}
