.card {
  width: 30%;
  height: fit-content;
  border: 2px solid var(--primary);
  border-radius: 10px;
  cursor: pointer;
  &:hover {
    border-color: var(--accent);
    & .card__content__title {
      color: var(--accent);
    }
  }
  &__img {
    margin: 1em 1em 0em 1em;
    display: flex;
    justify-content: center;
    & img {
      border: 1px solid var(--primary);
      border-radius: 10px;
      width: 100%;
    }
  }
  &__content {
    padding: 0em 1em 0em 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    &__title {
      font-size: 2vw;
      color: var(--primary);
      text-align: center;
      margin-right: auto;
    }
    & div {
      & img {
        z-index: 4;
        width: 2vw;
      }
    }
  }
}
