.container {
  justify-items: center;
  height: 480px;
  padding: 0em 5em 5em 5em;
  display: grid;
  grid-template-columns: 0.3fr 1fr 1fr 0.3fr;
  grid-template-rows: 0.3fr 1fr 1fr 0.3fr;
  gap: 1em;
  grid-auto-flow: row;
  grid-template-areas:
    "arrow-left comp langage arrow-right"
    "arrow-left logo text arrow-right"
    "arrow-left logo text arrow-right"
    "arrow-left dots dots arrow-right";
}

.dots {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: dots;
}

.arrow-left {
  & svg {
    color: var(--primary);

    &:hover {
      color: var(--accent);
    }
  }
  cursor: pointer;
  justify-content: center;
  display: flex;
  align-items: center;
  grid-area: arrow-left;
  font-size: 4em;
}

.arrow-right {
  & svg {
    color: var(--primary);

    &:hover {
      color: var(--accent);
    }
  }
  cursor: pointer;
  justify-content: center;
  display: flex;
  align-items: center;
  grid-area: arrow-right;
  font-size: 4em;
}

.comp {
  & h2 {
    color: var(--primary);
  }

  font-size: 2em;
  display: flex;
  justify-content: center;
  grid-area: comp;
}

.langage {
  & h3 {
    color: var(--primary);
  }

  font-size: 2em;
  grid-area: langage;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border-radius: 20px;
  width: 310px;
  height: 310px;
  grid-area: logo;
  
  & img {
    object-fit: scale-down;
  }
}

.text {
  grid-area: text;
  & li {
    list-style: disc;
  }
}
